body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}

footer {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #bf7ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 
